In [1]:
#Library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import scipy.stats as st

In [2]:
train=pd.read_csv('loan_data_train.csv')
test=pd.read_csv('loan_data_test.csv')

In [3]:
train.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [4]:
test.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
ID                                2199 non-null float64
Amount.Requested                  2199 non-null object
Amount.Funded.By.Investors        2199 non-null object
Interest.Rate                     2200 non-null object
Loan.Length                       2199 non-null object
Loan.Purpose                      2199 non-null object
Debt.To.Income.Ratio              2199 non-null object
State                             2199 non-null object
Home.Ownership                    2199 non-null object
Monthly.Income                    2197 non-null float64
FICO.Range                        2200 non-null object
Open.CREDIT.Lines                 2196 non-null object
Revolving.CREDIT.Balance          2197 non-null object
Inquiries.in.the.Last.6.Months    2197 non-null float64
Employment.Length                 2131 non-null object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 14 columns):
ID                                300 non-null int64
Amount.Requested                  300 non-null int64
Amount.Funded.By.Investors        300 non-null object
Loan.Length                       300 non-null object
Loan.Purpose                      300 non-null object
Debt.To.Income.Ratio              300 non-null object
State                             300 non-null object
Home.Ownership                    300 non-null object
Monthly.Income                    300 non-null float64
FICO.Range                        300 non-null object
Open.CREDIT.Lines                 300 non-null object
Revolving.CREDIT.Balance          300 non-null int64
Inquiries.in.the.Last.6.Months    300 non-null int64
Employment.Length                 291 non-null object
dtypes: float64(1), int64(4), object(9)
memory usage: 32.9+ KB

Target Variable- Interest Rate

For Train Dataset:
    
    - Train dataset shape: 2200 Rows, 15 Columns
    
    - Data Types: float64(3), object(12)
        
    - There are missing values present in the data.
    
For Test Data:
    
    - Test Dataset shape: 300 Rows, 14 Columns
    
    - Data Types: float64(1), int64(4), object(9)
    
    - Target Variable is not present.
        
    - There is missing values present only in Employment length column only.

In [7]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,2199.0,52024.256480,30223.972207,10.0,26361.5,51302.0,78386.50,104202.0
Monthly.Income,2197.0,5727.459290,4073.529708,588.5,3458.0,5000.0,6883.33,102750.0
Inquiries.in.the.Last.6.Months,2197.0,0.898498,1.219223,0.0,0.0,0.0,1.00,9.0

In [8]:
train.describe(include='object').T

                           count unique                 top  freq
Amount.Requested            2199    356               10000   178
Amount.Funded.By.Investors  2199    658               10000   146
Interest.Rate               2200    265              12.12%   114
Loan.Length                 2199      3           36 months  1722
Loan.Purpose                2199     14  debt_consolidation  1147
Debt.To.Income.Ratio        2199   1526                  0%     7
State                       2199     46                  CA   376
Home.Ownership              2199      5            MORTGAGE  1018
FICO.Range                  2200     38             670-674   151
Open.CREDIT.Lines           2196     29                   8   226
Revolving.CREDIT.Balance    2197   2080                   0    31
Employment.Length           2131     12           10+ years   575

In [9]:
test.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,300,NaN,NaN,NaN,48851.1,28668.4,476,27548.8,45611,72110.5,103426
Amount.Requested,300,NaN,NaN,NaN,11797.4,7402.1,1000,6000,10000,16000,35000
Amount.Funded.By.Investors,300,163,10000,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loan.Length,300,2,36 months,228,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Loan.Purpose,300,14,debt_consolidation,160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Debt.To.Income.Ratio,300,286,8.51%,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,300,38,CA,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Home.Ownership,300,4,RENT,147,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monthly.Income,300,NaN,NaN,NaN,5413.31,3030.58,1000,3595.83,4816.5,6399.25,21666.7
FICO.Range,300,31,685-689,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Open.CREDIT.Lines,300,23,8,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Revolving.CREDIT.Balance,300,NaN,NaN,NaN,14654,15043.2,0,5470.25,10306.5,19516,100842
Inquiries.in.the.Last.6.Months,300,NaN,NaN,NaN,0.966667,1.3158,0,0,1,2,9
Employment.Length,291,12,10+ years,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In the describe function we see that many columns with Numeric values are present in Object data type like Interest Rate,Fico Range and few others.

- This is because the columns have numeric value along with some symbol like (%,-) and therefore we find them with object datatype.

- In the further process we will convert them into numeric values to perform Linear Regression.

In [10]:
#Creating target variable in test column

test['Interest.Rate']=''

train.shape,test.shape

((2200, 15), (300, 15))

In [11]:
#Creating new column, in both dataset so that when we combine we get to know data data belongs to train or test.

train['Data_name']='train'
test['Data_name']='test'

In [12]:
#combining both data

combined=pd.concat([train,test],axis=0,ignore_index=True,sort=False)

combined.shape

(2500, 16)

In [13]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
ID                                2499 non-null float64
Amount.Requested                  2499 non-null object
Amount.Funded.By.Investors        2499 non-null object
Interest.Rate                     2500 non-null object
Loan.Length                       2499 non-null object
Loan.Purpose                      2499 non-null object
Debt.To.Income.Ratio              2499 non-null object
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2497 non-null float64
FICO.Range                        2500 non-null object
Open.CREDIT.Lines                 2496 non-null object
Revolving.CREDIT.Balance          2497 non-null object
Inquiries.in.the.Last.6.Months    2497 non-null float64
Employment.Length                 2422 non-null object
Data_name                         2500 non-null object
dtypes: float64(3), object(13)
memory usage: 312.6+ KB

In [14]:
#We will drop the Id,Amount Funded by Investor column because they are not useful for our prediction model.
#To create a model we consider only past/previous data therefore we drop Amount Funded by Investor column,its a future variable

combine=combined.drop(['ID','Amount.Funded.By.Investors'],axis=1)

In [15]:
#Removing % sign from Interest Rate,Debt.To.Income.Ratio column

combine['Interest.Rate']=combine['Interest.Rate'].str.replace('%','')
combine['Debt.To.Income.Ratio']=combine['Debt.To.Income.Ratio'].str.replace('%','')

#converting it to numeric datatype
combine['Interest.Rate']=pd.to_numeric(combine['Interest.Rate'],errors='coerce')
combine['Debt.To.Income.Ratio']=pd.to_numeric(combine['Debt.To.Income.Ratio'],errors='coerce')

In [16]:
#Also converting few other columns into numeric

for col in ['Open.CREDIT.Lines','Revolving.CREDIT.Balance','Amount.Requested']:
    combine[col]=pd.to_numeric(combine[col],errors='coerce')

In [17]:
combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
Amount.Requested                  2495 non-null float64
Interest.Rate                     2200 non-null float64
Loan.Length                       2499 non-null object
Loan.Purpose                      2499 non-null object
Debt.To.Income.Ratio              2499 non-null float64
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2497 non-null float64
FICO.Range                        2500 non-null object
Open.CREDIT.Lines                 2491 non-null float64
Revolving.CREDIT.Balance          2495 non-null float64
Inquiries.in.the.Last.6.Months    2497 non-null float64
Employment.Length                 2422 non-null object
Data_name                         2500 non-null object
dtypes: float64(7), object(7)
memory usage: 273.6+ KB

In [18]:
#Splitting FICO range,and then taking sum of both splitted value and dividing by 2

splitting=combine['FICO.Range'].str.split('-',expand=True).astype(float)

combine['FICO']=(splitting[0]+splitting[1])* 0.5

del combine['FICO.Range']

In [19]:
combine['Employment.Length'].unique()

array(['5 years', '4 years', '< 1 year', '10+ years', nan, '2 years',
       '8 years', '1 year', '6 years', '7 years', '3 years', '9 years',
       '.'], dtype=object)

In [20]:
#Cleaning the Employment Length variable

combine['Employment.Length']=combine['Employment.Length'].str.replace('years','')
combine['Employment.Length']=combine['Employment.Length'].str.replace('year','')

combine['Employment.Length']=np.where(combine['Employment.Length'].str[:2]=='10',10,combine['Employment.Length'])
combine['Employment.Length']=np.where(combine['Employment.Length'].str[0]=='<',0,combine['Employment.Length'])
combine['Employment.Length']=pd.to_numeric(combine['Employment.Length'],errors='coerce')

In [21]:
combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
Amount.Requested                  2495 non-null float64
Interest.Rate                     2200 non-null float64
Loan.Length                       2499 non-null object
Loan.Purpose                      2499 non-null object
Debt.To.Income.Ratio              2499 non-null float64
State                             2499 non-null object
Home.Ownership                    2499 non-null object
Monthly.Income                    2497 non-null float64
Open.CREDIT.Lines                 2491 non-null float64
Revolving.CREDIT.Balance          2495 non-null float64
Inquiries.in.the.Last.6.Months    2497 non-null float64
Employment.Length                 2420 non-null float64
Data_name                         2500 non-null object
FICO                              2500 non-null float64
dtypes: float64(9), object(5)
memory usage: 273.6+ KB

In [22]:
#Now selecting all Categorical column seperately

cat_cols=combine.select_dtypes(['object']).columns
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'Data_name'], dtype='object')

In [23]:
#We will not consider Data_name column as it is temporarily added

cat_cols=cat_cols[:-1]

In [24]:
#Creating dummy variables
#Also checking that too many attributes are not created and control the dummies based on frequency

for col in cat_cols:
    freq=combine[col].value_counts()
    k= freq.index[freq>20][:-1]
    
    for cat in k:
        name=col+'_'+cat
        combine[name]=(combine[col]==cat).astype(int)
    del combine[col]
    print(col)

Loan.Length
Loan.Purpose
State
Home.Ownership

In [25]:
#checking missing values

combine.isnull().sum()[combine.isnull().sum()!=0]

Amount.Requested                    5
Interest.Rate                     300
Debt.To.Income.Ratio                1
Monthly.Income                      3
Open.CREDIT.Lines                   9
Revolving.CREDIT.Balance            5
Inquiries.in.the.Last.6.Months      3
Employment.Length                  80
dtype: int64

In [26]:
#imputing Null vallues with mean

for col in combine.columns:
    if(col not in['Interest.Rate','Data_Name']) & (combine[col].isnull().sum()>0):
        combine.loc[combine[col].isnull(),col]=combine.loc[combine['Data_name']=='train',col].mean()

In [27]:
combine.isnull().sum()[combine.isnull().sum()!=0]

Interest.Rate    300
dtype: int64

- We have imputed the null values except for the target variable that had missing values for test dataset.

In [28]:
#creating a copy of combine data
combine_copy=combine.copy()

#Now we will seperate the train and test data:
train=combine[combine['Data_name']=='train']
del train['Data_name']

test=combine[combine['Data_name']=='test']
del test['Data_name']

In [29]:
del combine

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [31]:
train1,train2=train_test_split(train,test_size=0.2,random_state=2)

In [32]:
#We have only used train data to impute the missing values

x_train1=train1.drop('Interest.Rate',axis=1)
y_train1=train1['Interest.Rate']

In [33]:
lr=LinearRegression()
lr.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
#B0 i.e our constant value
lr.intercept_

75.92121413594577

In [35]:
#coeff of evry variable i.e B1,B2...

list(zip(x_train1.columns,lr.coef_))

[('Amount.Requested', 0.00015602405153876907),
 ('Debt.To.Income.Ratio', -0.003938504173760453),
 ('Monthly.Income', -2.6568573569333342e-05),
 ('Open.CREDIT.Lines', -0.03992260834024794),
 ('Revolving.CREDIT.Balance', -3.923647858690669e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3361172111313358),
 ('Employment.Length', 0.03499367189450956),
 ('FICO', -0.08667701121950742),
 ('Loan.Length_36 months', -3.143747246950597),
 ('Loan.Purpose_debt_consolidation', -0.46739356903559104),
 ('Loan.Purpose_credit_card', -0.6069873604061798),
 ('Loan.Purpose_other', 0.4441714227019307),
 ('Loan.Purpose_home_improvement', -0.3611899849181394),
 ('Loan.Purpose_major_purchase', -0.09589524932665708),
 ('Loan.Purpose_small_business', 0.06800548772823893),
 ('Loan.Purpose_car', 0.025259628036014874),
 ('Loan.Purpose_wedding', -0.7791542650056433),
 ('Loan.Purpose_medical', -0.42811521099549554),
 ('Loan.Purpose_moving', 1.284527654459573),
 ('State_CA', -0.21159715256759384),
 ('State_NY', -0.12777976346385805),
 ('State_TX', 0.4656519996969035),
 ('State_FL', 0.08536509194007731),
 ('State_IL', -0.6478521077890993),
 ('State_GA', -0.028715232683423537),
 ('State_PA', -0.5531491923550266),
 ('State_NJ', -0.42527158242929897),
 ('State_VA', -0.1900182794302404),
 ('State_MA', 0.09032034036316752),
 ('State_OH', -0.3613940340220008),
 ('State_MD', -0.016614796909706783),
 ('State_NC', -0.3012520492515606),
 ('State_CO', -0.056439387391120976),
 ('State_WA', -0.24431943682020313),
 ('State_CT', 0.44506590679109936),
 ('State_AZ', 0.264721852684368),
 ('State_MI', -0.1581658355736974),
 ('State_MN', -0.07658290397396236),
 ('State_AL', -0.32176623527151643),
 ('State_MO', -0.432094184032532),
 ('State_NV', -0.12433340941261035),
 ('State_OR', 0.12024829459476112),
 ('State_SC', 0.024771345260438893),
 ('State_WI', -0.1650692026702119),
 ('State_KY', 0.2692286032568518),
 ('State_LA', -0.04879687995185477),
 ('State_KS', 0.24424291796448538),
 ('Home.Ownership_MORTGAGE', -0.4927899396352777),
 ('Home.Ownership_RENT', -0.2283580462926113)]

In [38]:
#predicting on train2 data

x_train2=train2.drop('Interest.Rate',axis=1)

#giving x_train2 data for prediction as we have removed targe variable.
predicting=lr.predict(x_train2)
predicting

array([18.96007625, 15.68099596, 10.14154029, 10.80537547, 16.09510115,
       13.28266455, 14.15627793, 13.59490966, 17.25381424,  7.74671329,
       13.96084005, 14.15976694, 14.5116874 ,  8.41303044, 16.02214589,
       15.53857845, 14.60187497, 11.2164128 , 17.11027588,  7.525951  ,
       17.49182743, 14.37980908, 12.34682825,  9.19881096, 17.10446457,
       13.88671969,  7.53464716, 10.18960852,  6.82742392, 15.97550678,
       10.93625928,  9.86962182, 12.52599367, 11.54186066, 12.81539187,
       13.69385332,  6.97157344, 15.70964264,  3.85555035, 13.97126418,
        8.7820166 , 15.62504435, 13.64099551, 12.45314658, 10.63749612,
        9.46725306,  7.65609584, 13.29654221, 17.16652983, 17.13135764,
        1.91783148, 20.17388851, 11.03136906, 15.1718277 ,  9.22543667,
       11.9245573 , 13.85420737, 14.50177037, 13.08240117, 16.13305406,
       17.72461292, 14.35884901, 15.47805815, 13.08037347, 13.71118587,
       15.25975869, 16.82296199, 12.24692511, 13.55408036, 14.56601405,
       11.50537181, 13.6575852 , 10.85312201, 14.47557573, 14.91290069,
       12.51992752, 13.21660203, 13.77757598,  9.13309835, 13.30493889,
       18.15692975, 10.32645488, 12.43881397, 15.64932644, 12.9965591 ,
       10.55714062,  9.64766166, 11.74864374, 18.08736525,  9.29630207,
       12.89456147, 11.89903722, 11.01259552, 14.9835072 , 14.14468308,
       15.5903446 , 16.3757485 , 14.88777374, 14.37878602,  9.47530133,
       10.64734788, 18.54390518, 16.25932021, 12.98463018, 15.82074388,
       16.0429134 ,  7.08779   , 12.25521167, 14.00546648, 14.15118731,
       11.83425417, 10.05791253, 16.08672399, 13.22901136,  9.52653744,
       15.78944869, 16.1279028 , 16.013182  ,  4.40914623, 12.78553042,
       19.44490532, 14.90863783,  5.74925524, 13.83170649, 14.08728827,
       15.49811007,  9.14383038,  6.84992147, 12.62385746, 13.31907118,
       15.21669833, 13.41119401, 10.90641154, 10.10794664, 15.13731309,
       14.15226582,  7.67988916,  5.59805709,  5.96916776, 15.76080354,
       17.78813282, 21.6786382 , 12.03140063, 13.8477381 , 13.83803473,
        9.38244978, 15.20813663, 12.42388157, 14.08163924, 12.61241723,
       14.30154964,  7.97131897, 14.15905458, 12.6351854 , 15.27875879,
       15.76418483,  6.59069349, 12.06378604, 15.5057718 , 10.64764495,
        4.92433384, 15.41192752, 14.92456886, 15.27487053, 11.46735965,
       15.45653546,  9.42268418, 15.70339076, 15.46843147,  6.56466563,
       10.31352389, 10.62372602, 10.79319581, 11.33693759, 13.96313009,
       13.04057629, 14.44916535, 13.54448207, 14.33220364,  9.98796736,
       17.42700234,  5.43116985, 13.61715446,  9.60431496, 11.92663518,
       12.62862345, 13.42984959, 10.15834668, 19.22252045, 17.84803297,
       14.53416164, 16.21039382, 16.87976003,  9.15502837, 15.18740849,
       10.33317253,  6.96239989, 19.31860691, 14.69900148, 13.28469293,
       12.79411477, 10.25202369, 15.02009532, 18.38205032,  9.72346728,
       20.41323236, 12.70394487, 15.63766415,  7.41798219, 11.05208589,
        6.747258  ,  9.14953341, 15.35498556, 13.40050592, 18.85859126,
       10.79955635, 11.87421516,  8.38372393, 15.35246705, 15.09567768,
        8.79042663, 17.10766936, 14.1826043 , 13.34071729, 13.36778098,
       12.98737529,  9.79898368,  4.4665751 ,  8.52960905, 19.63843716,
       12.15420636,  9.43019772, 11.98414771,  5.17877424, 13.79475266,
       13.08125123, 16.92249986, 18.01793184, 19.95433436, 18.3864468 ,
       19.31574188, 13.70921718, 13.68188797, 11.69709702,  8.57963189,
       10.23699322, 12.56540105, 10.53332351,  8.26615735,  7.91523269,
       13.31146616, 17.20375976, 14.68640758, 21.28425217,  8.74745585,
        6.60685705, 12.01629832, 11.53684936, 10.88501284, 14.13829945,
        9.57142918, 16.16677681, 15.7738885 , 16.92012773, 14.85222252,
       13.55866925, 17.14236581, 12.78103902, 17.7621833 , 13.70691092,
       11.6338656 , 20.85113317, 16.03620697, 10.44088105,  3.71953797,
       11.12778414,  5.01807482, 14.8619857 , 13.42524304, 12.28496588,
        5.16971181,  7.69245532, 14.96727853, 15.78148842, 19.05567995,
       19.04576299, 18.59296131,  3.60840341, 19.62967421, 16.85390689,
       16.19303068, 12.02164492, 14.38113959, 16.85239066,  5.87955958,
       13.73203992, 15.73246867, 13.97539436, 10.2781424 , 10.9668294 ,
       13.18265553, 14.85158176, 10.17829978, 12.80963777,  9.44837461,
       13.36371652, 10.47613695, 18.64265183, 15.25726285, 10.52927693,
       16.40426266, 15.58389986, 10.5119744 , 15.22653899, 12.93890663,
        6.34212024,  6.0849373 , 13.83595114, 10.32457177, 14.02921305,
       12.70179283, 14.41148917, 13.20394776, 16.363831  ,  9.92654017,
       16.71789749, 11.39696826, 14.62471545, 13.49129944, 12.28285735,
       10.00167712, 17.12767042, 12.42826841, 11.65028506, 10.9181452 ,
       20.58887904,  8.26906504, 19.28072494, 11.30706351, 12.01570728,
        7.18694058, 17.89645499,  7.33420575, 10.26238824,  9.25146176,
       16.17674928,  6.63492306,  8.36950564, 12.69897553, 18.16026472,
        9.10608526, 13.32433717, 10.74946962, 11.9379325 , 15.29859299,
       15.10882199, 10.93944138, 13.28664449, 12.08177089,  8.58839832,
       15.71026217, 12.63543309, 13.17804816, 13.98793022,  9.37420804,
       10.25341623, 17.69918044, 14.3674367 , 14.32477119, 14.83222872,
        8.98630251, 11.43689193, 11.93525923,  6.37615739,  8.76801911,
        9.62248735,  9.7076685 , 13.90918419, 11.99128144, 11.05093045,
        1.8311276 , 13.44223993,  8.90600932, 16.84773684, 12.99159053,
       12.97688682, 15.15831713, 15.64211036, 12.29652253, 13.84545003,
       17.63892927, 16.65479441, 15.78916066, 12.78103542, 12.30659868,
       12.68816405, 18.12812991, 11.39661916, 15.60807061, 13.62237706,
       13.95243035, 14.53490264, 13.71174044, 15.06214748, 12.03109215,
       19.86987604, 12.29444819, 16.50679251, 11.00835237, 13.33417726,
       10.62531849, 10.18001634, 12.11893955,  6.7323057 , 10.94640432,
       14.72865132, 10.70084156, 12.79195205, 14.8241756 , 10.09386916,
        5.14102354, 20.96606676, 15.82178402,  6.06734788, 19.48485695,
       13.90630135, 15.611249  , 18.72026328, 12.18891354, 12.12786874,
       11.38578821, 13.52997699, 14.73164897,  5.81275013, 15.09142067,
       11.85469253, 16.20836972, 18.56880869, 14.41535334, 12.09028505])

In [40]:
#checking the mean absolute error value
mean_absolute_error(train2['Interest.Rate'],predicting)

1.6278267948884744

- The above value is calculated by finding the difference between the actual value and the predicted value.

We know the tentative performance,now we will check on the entire training set.

In [41]:
x_train=train.drop('Interest.Rate',axis=1)
y_train=train['Interest.Rate']

In [42]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [46]:
#Target variable is present in test data,we will first drop that attribute and then predict values
test=test.drop('Interest.Rate',axis=1)

In [47]:
#Prediction for test data
test_prediction=lr.predict(test)
test_prediction

array([16.64053907, 15.92333314, 10.62442413,  3.68858934, 15.37668977,
        6.95695006, 15.77478061, 10.69584154, 15.99366692, 12.40004029,
        9.69621957, 14.90849621, 11.4279855 , 13.69760261, 13.45711858,
       18.36541882, 10.38001928, 15.75628145, 13.77538126, 13.84583946,
       22.3804198 , 17.45250815, 12.11902659, 14.84771773,  9.69203293,
       11.16430968, 13.14635014, 19.40592245, 12.00567735, 16.98946667,
       15.2551322 , 15.42213149, 12.30174956, 15.17708654, 13.75654827,
       14.19966644, 19.47712689, 11.2401567 , 12.01449614, 16.97399154,
       14.14450509, 11.09451828, 14.64373925, 13.10928142, 15.60021088,
       17.02336061, 14.86391602, 17.02627341, 16.91087168, 10.43750086,
       13.59113402, 19.76538598,  9.98291996, 19.65614199, 15.59732627,
       14.86330077, 17.53029645, 14.36354332, 10.89850493, 14.43726353,
       13.12110203, 16.97895444,  8.80954649, 14.55515897, 10.54106043,
       11.46056567, 12.84163797, 14.99689981, 12.05873592, 14.48464381,
       14.39157873, 17.4405373 , 20.71397974, 19.59077596, 13.35791246,
       16.98340094, 11.09563328,  9.94849485, 16.60777596,  6.89213275,
       16.05250844, 10.3564702 ,  9.50901537, 12.98355283, 13.98908878,
        9.46233524,  9.32422713, 13.94859415,  8.56570697, 11.78069493,
       12.19882738, 16.95059142, 13.67449969, 17.84808986, 14.23761374,
       10.40891256, 10.20098383, 17.13003938, 16.90623348, 13.8235561 ,
       15.32622516, 13.46801871, 15.22444431, 14.55363376, 13.52465177,
       12.27586905,  8.8171075 , 11.88671351, 10.85957174, 13.96332966,
       11.70882387, 20.20265701,  7.58187376, 16.73283074, 15.54716743,
        6.54034298, 13.29368997, 14.29826393, 15.0965198 ,  9.28832524,
       16.12334997, 14.32511302,  8.98022453, 12.97415886, 17.3710332 ,
       15.97604611,  8.44850913, 18.54011339,  3.40844497, 12.2074236 ,
       13.74846462, 13.13046845, 10.04461314, 14.1147719 , 18.73075122,
       14.14020264, 15.54664877, 13.39644071, 12.94717159,  9.53862392,
       14.12718299, 14.39737469, 11.69314841, 11.50040734, 11.65376883,
       16.91422885, 11.96358039, 10.56307829,  7.80502167, 10.11550911,
       11.43584323, 13.87875516, 10.34077801,  7.71931341, 13.98454941,
       12.21293971, 11.10750405,  7.98055938, 14.53086903, 14.57405613,
       14.10588939,  7.13272821, 15.10975343, 17.99637384, 15.25059609,
       15.98874991, 14.75205266, 10.07123162, 13.62565496, 16.65521601,
       14.60744559, 12.86003618,  6.57284919, 13.2830544 , 10.34677098,
       10.48459878, 11.09986818,  8.57035826,  9.6291262 , 11.6486142 ,
       12.81121192, 14.43581167, 10.38051741, 13.37012586, 10.8471006 ,
       14.00386533,  8.60062218, 17.85520605, 13.64672062,  9.47069636,
        7.66451813, 11.47429032, 16.02076972, 15.45212115, 15.05727663,
       18.00705991,  9.20067811, 18.84809188,  4.82524409, 13.89889736,
       14.52184212, 12.44743108, 18.02337663, 16.68420845,  4.74185113,
       15.56729254, 15.39238317, 19.69295883, 16.42509559,  8.7820325 ,
       14.65744065, 11.70797104, 12.11800323, 14.60243803, 10.48626323,
       12.34289717, 13.25708899, 20.68846638, 13.84592725,  6.32855647,
        5.64735532,  9.41776166, 17.93615533, 11.32923263, 15.85637486,
       14.59990411, 11.55443929, 11.63818146, 12.54845254, 10.780471  ,
       11.66129397, 14.90088138, 12.71230339, 15.84811507,  7.58104125,
       11.30671834, 13.25603086, 10.44777997,  4.81898933, 19.9414846 ,
       14.17198279, 19.80310622,  7.86767101, 20.75071162, 12.82182143,
       12.26037667, 20.12111571,  9.21738625,  7.69132981, 12.97951592,
       16.01927013, 15.06000054, 10.75502913, 13.9848295 , 15.14984949,
       18.85541698, 11.36811285,  8.03467625, 12.67484186, 18.04361929,
       16.38121965, 13.41516634, 18.43601275,  7.47136962, 19.87647628,
        8.75384998, 15.69616577, 10.81938693,  4.54610218, 14.91430431,
       13.48165351, 13.12785854,  6.80581591, 10.66337431,  9.80939662,
        6.5172182 , 14.17256962, 13.77596569, 10.92236274, 14.60964513,
       17.11351851, 20.25917552, 16.2936166 , 14.25305956, 15.9711771 ,
        8.15455304, 12.75316232, 13.46938871, 10.92291681, 11.94514091,
       14.4647272 , 10.09840411, 14.56500006,  9.62942329,  7.11246406,
       15.82276831, 11.20235314, 14.50544941, 17.84395411, 13.04754169])

- Above cell have the values that are predicted for the Interest Rate in test dataset.

We will perform Hyperparameter Tuning for better solution.

In [49]:
#In this we take 100 values ranging between 1-100
lambdas=np.linspace(1,100,100)

#for parameters selection alpha value is selected from lambdas value
params={'alpha':lambdas}

#for creating a model we use Ridge and set fit itercept as true
model=Ridge(fit_intercept=True)

In [51]:
#Using GridSearchCV we do Hyperparameter Tuning for better optimal value
grid_search=GridSearchCV(model,param_grid=params,scoring='neg_mean_absolute_error',cv=10)

grid_search.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=None, normalize=False, random_state=None,
                             solver='auto', tol=0.001),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35....,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100.])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [52]:
#checking our best estimator
grid_search.best_estimator_

Ridge(alpha=34.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [53]:
grid_search.cv_results_

{'mean_fit_time': array([0.00805514, 0.00945539, 0.01400993, 0.01315949, 0.00690551,
        0.00635509, 0.00610528, 0.00670581, 0.00645509, 0.00595429,
        0.00660512, 0.00630505, 0.00610473, 0.0069061 , 0.00635486,
        0.00575459, 0.00690539, 0.00660505, 0.00635469, 0.00575619,
        0.00615478, 0.00675542, 0.0069557 , 0.00655437, 0.00645559,
        0.00605578, 0.00665574, 0.00690579, 0.00645506, 0.00585473,
        0.00640481, 0.00640504, 0.00625477, 0.00605555, 0.00515389,
        0.00545437, 0.00530384, 0.00540404, 0.00770595, 0.00685503,
        0.00545413, 0.00540469, 0.00605552, 0.00475392, 0.00580497,
        0.00560541, 0.00520422, 0.00480423, 0.00475345, 0.00510335,
        0.00500362, 0.00535398, 0.00550449, 0.00485368, 0.00545564,
        0.00530417, 0.00510361, 0.00615287, 0.00515451, 0.00485382,
        0.00585566, 0.01355982, 0.01285925, 0.00820594, 0.00550435,
        0.00510221, 0.00520382, 0.00530481, 0.00485444, 0.00480244,
        0.00525324, 0.00575507, 0.0045547 , 0.0057548 , 0.00545399,
        0.00505438, 0.00530462, 0.00490394, 0.00540414, 0.00530438,
        0.00520358, 0.00610554, 0.00605426, 0.0050544 , 0.00600431,
        0.00540407, 0.00555534, 0.00520356, 0.00550416, 0.00500479,
        0.00500417, 0.00495393, 0.0055042 , 0.00565448, 0.00580482,
        0.00510411, 0.00460403, 0.00530465, 0.00545473, 0.00585485]),
 'std_fit_time': array([0.00173767, 0.00753298, 0.00213484, 0.00225972, 0.00161029,
        0.00132516, 0.00122118, 0.00136417, 0.00160556, 0.00072358,
        0.00201113, 0.00103   , 0.00135795, 0.00181418, 0.00122642,
        0.00060268, 0.00177287, 0.00153164, 0.00134433, 0.00105621,
        0.00109704, 0.00157023, 0.00137025, 0.00158777, 0.00103651,
        0.00101215, 0.00158275, 0.00188283, 0.00178219, 0.00080749,
        0.00204817, 0.00083135, 0.00136592, 0.00106074, 0.0005945 ,
        0.00110588, 0.00105404, 0.0013936 , 0.00877617, 0.00267542,
        0.00119347, 0.00146443, 0.00145866, 0.00051251, 0.00167792,
        0.00133863, 0.00156978, 0.00033218, 0.00051253, 0.00086004,
        0.00044753, 0.00128649, 0.0011413 , 0.00050229, 0.00110634,
        0.00128941, 0.00117806, 0.00148435, 0.00097673, 0.00032109,
        0.00158287, 0.00406762, 0.00187252, 0.00321418, 0.00128136,
        0.00079832, 0.00092766, 0.00128929, 0.00059409, 0.00084633,
        0.00111836, 0.00125029, 0.0002699 , 0.00150513, 0.00112882,
        0.00119313, 0.00125037, 0.00058305, 0.00122173, 0.00107784,
        0.00128934, 0.00167162, 0.00154131, 0.0010832 , 0.00144977,
        0.00113662, 0.00105994, 0.00084253, 0.00114097, 0.00109554,
        0.00102586, 0.00106016, 0.00141484, 0.00130582, 0.00147041,
        0.00086087, 0.00020019, 0.00124944, 0.00093555, 0.00148476]),
 'mean_score_time': array([0.00285392, 0.00245161, 0.00395312, 0.00370252, 0.00195112,
        0.00195067, 0.0021513 , 0.00189998, 0.00200152, 0.0019011 ,
        0.00180099, 0.00185089, 0.00180109, 0.00200062, 0.00185101,
        0.00190096, 0.00220163, 0.00220134, 0.00185122, 0.00179968,
        0.00180111, 0.00195138, 0.00205107, 0.00220175, 0.00155053,
        0.00175033, 0.00205092, 0.00220103, 0.00195107, 0.00195093,
        0.0020016 , 0.00215142, 0.00165079, 0.00185039, 0.00195086,
        0.00205114, 0.00175116, 0.00200119, 0.00210078, 0.0022012 ,
        0.0021528 , 0.00170045, 0.00230064, 0.00180097, 0.00210061,
        0.00215001, 0.00220115, 0.00174987, 0.00165112, 0.00175142,
        0.00195115, 0.00210116, 0.00190105, 0.00175116, 0.00179951,
        0.00205121, 0.00175066, 0.00230138, 0.00200043, 0.00170264,
        0.00215006, 0.00370269, 0.00355241, 0.00290165, 0.00214951,
        0.00185266, 0.00185134, 0.00190108, 0.00180068, 0.00210228,
        0.00195196, 0.00205038, 0.00189991, 0.00215096, 0.00185091,
        0.00195057, 0.00195076, 0.00170085, 0.00195119, 0.00195048,
        0.00195117, 0.00220063, 0.00205135, 0.00190079, 0.00190132,
        0.00180118, 0.00205035, 0.00205131, 0.00195143, 0.00180011,
        0.00190072, 0.00200098, 0.00175107, 0.00230114, 0.0021513 ,
        0.00195088, 0.00185089, 0.00194962, 0.00160019, 0.00210037]),
 'std_score_time': array([0.00071071, 0.00075726, 0.00041574, 0.00051097, 0.00047236,
        0.0005675 , 0.00063453, 0.00058445, 0.0004475 , 0.00058325,
        0.00045853, 0.00044991, 0.00045938, 0.00067161, 0.00050256,
        0.00049131, 0.00064084, 0.00059954, 0.00044949, 0.00033254,
        0.00045937, 0.00056824, 0.00056755, 0.00067958, 0.00014938,
        0.0004615 , 0.00061055, 0.00055654, 0.00047213, 0.00056814,
        0.00067175, 0.00063512, 0.0002292 , 0.00044988, 0.00056855,
        0.00052256, 0.00025003, 0.00067106, 0.00062595, 0.00078154,
        0.00059588, 0.00046234, 0.00081271, 0.00024554, 0.00082992,
        0.00070988, 0.00045901, 0.00033511, 0.00022924, 0.00025049,
        0.00056807, 0.00043578, 0.00058605, 0.00046079, 0.0004593 ,
        0.00056859, 0.00033481, 0.00060047, 0.00044732, 0.00033505,
        0.00067227, 0.00081363, 0.00035028, 0.00104412, 0.00063544,
        0.00045379, 0.0004503 , 0.00048914, 0.00045824, 0.00049571,
        0.00047543, 0.00061388, 0.00043618, 0.00070867, 0.00039025,
        0.00061015, 0.00047217, 0.00033202, 0.0005678 , 0.00047188,
        0.00068788, 0.00071442, 0.000611  , 0.00049047, 0.00058371,
        0.00051024, 0.00061103, 0.00052209, 0.00047186, 0.00045789,
        0.00043543, 0.00054797, 0.00033567, 0.00055721, 0.00063445,
        0.00056828, 0.00050248, 0.00056884, 0.00019972, 0.00073547]),
 'param_alpha': masked_array(data=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0,
                    11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
                    20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0,
                    29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
                    38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
                    47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
                    56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0,
                    65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0,
                    74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0,
                    83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0,
                    92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1.0},
  {'alpha': 2.0},
  {'alpha': 3.0},
  {'alpha': 4.0},
  {'alpha': 5.0},
  {'alpha': 6.0},
  {'alpha': 7.0},
  {'alpha': 8.0},
  {'alpha': 9.0},
  {'alpha': 10.0},
  {'alpha': 11.0},
  {'alpha': 12.0},
  {'alpha': 13.0},
  {'alpha': 14.0},
  {'alpha': 15.0},
  {'alpha': 16.0},
  {'alpha': 17.0},
  {'alpha': 18.0},
  {'alpha': 19.0},
  {'alpha': 20.0},
  {'alpha': 21.0},
  {'alpha': 22.0},
  {'alpha': 23.0},
  {'alpha': 24.0},
  {'alpha': 25.0},
  {'alpha': 26.0},
  {'alpha': 27.0},
  {'alpha': 28.0},
  {'alpha': 29.0},
  {'alpha': 30.0},
  {'alpha': 31.0},
  {'alpha': 32.0},
  {'alpha': 33.0},
  {'alpha': 34.0},
  {'alpha': 35.0},
  {'alpha': 36.0},
  {'alpha': 37.0},
  {'alpha': 38.0},
  {'alpha': 39.0},
  {'alpha': 40.0},
  {'alpha': 41.0},
  {'alpha': 42.0},
  {'alpha': 43.0},
  {'alpha': 44.0},
  {'alpha': 45.0},
  {'alpha': 46.0},
  {'alpha': 47.0},
  {'alpha': 48.0},
  {'alpha': 49.0},
  {'alpha': 50.0},
  {'alpha': 51.0},
  {'alpha': 52.0},
  {'alpha': 53.0},
  {'alpha': 54.0},
  {'alpha': 55.0},
  {'alpha': 56.0},
  {'alpha': 57.0},
  {'alpha': 58.0},
  {'alpha': 59.0},
  {'alpha': 60.0},
  {'alpha': 61.0},
  {'alpha': 62.0},
  {'alpha': 63.0},
  {'alpha': 64.0},
  {'alpha': 65.0},
  {'alpha': 66.0},
  {'alpha': 67.0},
  {'alpha': 68.0},
  {'alpha': 69.0},
  {'alpha': 70.0},
  {'alpha': 71.0},
  {'alpha': 72.0},
  {'alpha': 73.0},
  {'alpha': 74.0},
  {'alpha': 75.0},
  {'alpha': 76.0},
  {'alpha': 77.0},
  {'alpha': 78.0},
  {'alpha': 79.0},
  {'alpha': 80.0},
  {'alpha': 81.0},
  {'alpha': 82.0},
  {'alpha': 83.0},
  {'alpha': 84.0},
  {'alpha': 85.0},
  {'alpha': 86.0},
  {'alpha': 87.0},
  {'alpha': 88.0},
  {'alpha': 89.0},
  {'alpha': 90.0},
  {'alpha': 91.0},
  {'alpha': 92.0},
  {'alpha': 93.0},
  {'alpha': 94.0},
  {'alpha': 95.0},
  {'alpha': 96.0},
  {'alpha': 97.0},
  {'alpha': 98.0},
  {'alpha': 99.0},
  {'alpha': 100.0}],
 'split0_test_score': array([-1.72358138, -1.72420643, -1.72488332, -1.72551715, -1.72611705,
        -1.726689  , -1.72724387, -1.72782936, -1.72839732, -1.72896669,
        -1.72954587, -1.7301274 , -1.73070845, -1.73127717, -1.7318344 ,
        -1.7323809 , -1.73291734, -1.73344429, -1.7339623 , -1.73447182,
        -1.73497329, -1.73546709, -1.73595358, -1.73643308, -1.73690589,
        -1.73737227, -1.73783249, -1.73828676, -1.73873531, -1.73917834,
        -1.73961603, -1.74004856, -1.7405097 , -1.74104459, -1.74159538,
        -1.74214058, -1.74268031, -1.74321473, -1.74374395, -1.74432305,
        -1.74501456, -1.74570004, -1.7463796 , -1.74705336, -1.74772141,
        -1.74838387, -1.74904083, -1.74969239, -1.75035082, -1.75101435,
        -1.75167244, -1.7523252 , -1.75299962, -1.75367457, -1.75434372,
        -1.75500719, -1.75566506, -1.75631744, -1.75696443, -1.75760612,
        -1.7582426 , -1.75887395, -1.75950025, -1.7601216 , -1.760746  ,
        -1.76139675, -1.76204251, -1.76268335, -1.76331934, -1.76395894,
        -1.76460774, -1.76525171, -1.76589091, -1.76652542, -1.76715531,
        -1.76778063, -1.7684233 , -1.76906158, -1.76969529, -1.77032448,
        -1.77094921, -1.77156954, -1.77218554, -1.77279726, -1.77340474,
        -1.77400806, -1.77460725, -1.77520238, -1.77579348, -1.77638062,
        -1.77696383, -1.77754318, -1.77811869, -1.77869043, -1.77925842,
        -1.77982273, -1.78038338, -1.78094043, -1.78149391, -1.78204386]),
 'split1_test_score': array([-1.76219454, -1.75903763, -1.75623933, -1.75395455, -1.75197626,
        -1.75017074, -1.74845623, -1.746826  , -1.74527378, -1.74387719,
        -1.74258427, -1.74135105, -1.74017328, -1.73904709, -1.73796896,
        -1.73693568, -1.73594433, -1.73510332, -1.73429931, -1.73357746,
        -1.73289635, -1.73224239, -1.73161399, -1.73100966, -1.73042804,
        -1.72986788, -1.72932798, -1.72880728, -1.72830475, -1.72781947,
        -1.72735055, -1.72689718, -1.72645858, -1.72603406, -1.72564093,
        -1.72527274, -1.7249398 , -1.72461788, -1.72430649, -1.72400516,
        -1.72371345, -1.72343094, -1.72315723, -1.72289196, -1.72263477,
        -1.72238533, -1.72214332, -1.72190844, -1.72168042, -1.72145899,
        -1.72124388, -1.72103486, -1.7208317 , -1.72063418, -1.72044209,
        -1.72025524, -1.72007342, -1.71989647, -1.71972421, -1.71955648,
        -1.71939312, -1.71923399, -1.71907893, -1.71892781, -1.7187805 ,
        -1.71865008, -1.71853846, -1.71842992, -1.71832436, -1.71822169,
        -1.71812181, -1.71802463, -1.71793006, -1.71783802, -1.71774842,
        -1.71766119, -1.71757625, -1.71749353, -1.71741297, -1.71734177,
        -1.71730113, -1.71726236, -1.71722538, -1.71719015, -1.7171566 ,
        -1.71715105, -1.71719037, -1.71723934, -1.71728928, -1.71734015,
        -1.71739192, -1.71744454, -1.71749799, -1.71755222, -1.7176072 ,
        -1.71766291, -1.71771931, -1.71777637, -1.71786817, -1.71797334]),
 'split2_test_score': array([-1.77797477, -1.77545201, -1.77326532, -1.77140267, -1.76974652,
        -1.7682434 , -1.76692394, -1.76642358, -1.76597837, -1.76557934,
        -1.76521963, -1.76489384, -1.76459764, -1.76432751, -1.76408054,
        -1.76385429, -1.76364669, -1.76345597, -1.7632806 , -1.76311926,
        -1.76297077, -1.76283411, -1.76271385, -1.76263464, -1.76256404,
        -1.76250145, -1.76244628, -1.76239803, -1.76235624, -1.76232047,
        -1.76229035, -1.76226552, -1.76224565, -1.76223044, -1.76221961,
        -1.76221291, -1.7622101 , -1.76221095, -1.76221527, -1.76222286,
        -1.76223353, -1.76232306, -1.76248036, -1.76263832, -1.76279686,
        -1.76300679, -1.76324751, -1.76348786, -1.7637278 , -1.76397226,
        -1.76421705, -1.76446119, -1.76470463, -1.76494736, -1.76518935,
        -1.76543058, -1.76567103, -1.76591068, -1.76614951, -1.76639077,
        -1.76665418, -1.766939  , -1.76723854, -1.76753889, -1.76788217,
        -1.76824165, -1.76859917, -1.76895474, -1.76930837, -1.76966007,
        -1.77000984, -1.7703577 , -1.77070365, -1.77106568, -1.77143949,
        -1.77181079, -1.77217962, -1.77254599, -1.77290994, -1.7732715 ,
        -1.77363069, -1.77398755, -1.77434209, -1.77469435, -1.77504436,
        -1.77539213, -1.77573769, -1.77608108, -1.7764223 , -1.77676138,
        -1.77709836, -1.77743324, -1.77776606, -1.77809683, -1.77842557,
        -1.77875232, -1.77907708, -1.77939988, -1.77972074, -1.78003968]),
 'split3_test_score': array([-1.64840333, -1.64735435, -1.64655986, -1.64619483, -1.64586451,
        -1.64557283, -1.64530576, -1.64505448, -1.64481599, -1.64458809,
        -1.6444109 , -1.64426518, -1.64412587, -1.6439922 , -1.64386355,
        -1.64373941, -1.64361935, -1.64351967, -1.64342615, -1.64337521,
        -1.64332944, -1.64328551, -1.64324324, -1.6432025 , -1.64316317,
        -1.64312513, -1.64308829, -1.64305255, -1.64301784, -1.64298408,
        -1.64295121, -1.64291916, -1.64288789, -1.64285734, -1.64282747,
        -1.64279824, -1.64276961, -1.64274153, -1.64271398, -1.64268694,
        -1.64266329, -1.64265498, -1.6426481 , -1.64264165, -1.6426356 ,
        -1.64262993, -1.64262461, -1.64261964, -1.64261498, -1.64261062,
        -1.64262829, -1.64265714, -1.64268588, -1.6427145 , -1.642743  ,
        -1.64277136, -1.64279958, -1.64282766, -1.64285559, -1.64288337,
        -1.642911  , -1.64293848, -1.6429658 , -1.64302244, -1.64309874,
        -1.64318636, -1.64327337, -1.64335979, -1.64344562, -1.64353086,
        -1.64361551, -1.6436996 , -1.64378311, -1.64386605, -1.64394844,
        -1.64403028, -1.64411156, -1.64419231, -1.64428089, -1.64440206,
        -1.64452247, -1.64467497, -1.64483078, -1.64498848, -1.64514518,
        -1.64531965, -1.64551207, -1.64570335, -1.64590423, -1.6461169 ,
        -1.64632837, -1.64653867, -1.64674781, -1.64695578, -1.64716261,
        -1.64736831, -1.64757287, -1.64777632, -1.64797866, -1.6481799 ]),
 'split4_test_score': array([-1.4528175 , -1.45170879, -1.45056942, -1.44942369, -1.4482914 ,
        -1.44718246, -1.44610168, -1.44505108, -1.44403112, -1.44308012,
        -1.44218434, -1.44134568, -1.44053185, -1.43976574, -1.43906924,
        -1.43839255, -1.43773462, -1.43709499, -1.4364791 , -1.43587933,
        -1.43529483, -1.43472779, -1.43417625, -1.43363783, -1.43311916,
        -1.4326922 , -1.4322759 , -1.43187156, -1.43152853, -1.43120134,
        -1.43088216, -1.4305706 , -1.43031318, -1.43007317, -1.4298396 ,
        -1.42961217, -1.42939059, -1.4291746 , -1.42896395, -1.42877128,
        -1.42859544, -1.42842363, -1.42825568, -1.42809534, -1.42799323,
        -1.42792627, -1.4278619 , -1.42780001, -1.42774047, -1.4276832 ,
        -1.42762808, -1.42757502, -1.42752394, -1.42750299, -1.42749653,
        -1.42749132, -1.42748729, -1.42748441, -1.4274826 , -1.42748183,
        -1.42748203, -1.42748317, -1.42748521, -1.42748809, -1.42749178,
        -1.42749624, -1.42751485, -1.42754969, -1.427585  , -1.42762076,
        -1.42765694, -1.42769352, -1.42773047, -1.4277956 , -1.42789828,
        -1.42800197, -1.42810513, -1.42820775, -1.42830983, -1.42841139,
        -1.42851241, -1.42861291, -1.42871287, -1.42881231, -1.42891123,
        -1.42900963, -1.42910751, -1.42920487, -1.42930172, -1.42943034,
        -1.42956259, -1.42969413, -1.42982497, -1.4299551 , -1.43009326,
        -1.43024735, -1.43040057, -1.43055292, -1.4307044 , -1.43085502]),
 'split5_test_score': array([-1.64312555, -1.6422563 , -1.64139114, -1.64054028, -1.63970823,
        -1.6389013 , -1.63816312, -1.63744394, -1.63674337, -1.63606084,
        -1.63539564, -1.63474703, -1.63411429, -1.63349667, -1.63289348,
        -1.63230405, -1.63172777, -1.63116403, -1.63061388, -1.630076  ,
        -1.62954911, -1.62903278, -1.62852656, -1.62803006, -1.62754289,
        -1.6270647 , -1.62659516, -1.62613394, -1.62569538, -1.62528726,
        -1.62488729, -1.62449517, -1.62411061, -1.62373333, -1.6233631 ,
        -1.62299966, -1.62264279, -1.62229228, -1.6219479 , -1.62160947,
        -1.6212768 , -1.62094971, -1.62062803, -1.6203116 , -1.62003353,
        -1.61979199, -1.61957105, -1.6193757 , -1.61919222, -1.61901198,
        -1.61883488, -1.61866082, -1.61848971, -1.61832148, -1.61815604,
        -1.61801513, -1.61790803, -1.61780322, -1.61770062, -1.61760016,
        -1.61750178, -1.61740543, -1.61731104, -1.61721855, -1.61712792,
        -1.61703909, -1.61695201, -1.61686663, -1.61681129, -1.6167768 ,
        -1.61674361, -1.61671169, -1.61668101, -1.61665152, -1.61662319,
        -1.61659599, -1.61656988, -1.61655031, -1.61653605, -1.61652264,
        -1.61651005, -1.61649826, -1.61651822, -1.61655484, -1.61659176,
        -1.61662896, -1.61666642, -1.61670413, -1.61674209, -1.61678027,
        -1.61683026, -1.6168855 , -1.61694075, -1.61700291, -1.61709469,
        -1.61718624, -1.61727756, -1.61736863, -1.61745946, -1.61755005]),
 'split6_test_score': array([-1.43120121, -1.43020632, -1.4293075 , -1.42857716, -1.42804058,
        -1.42753515, -1.42705626, -1.42660047, -1.42616515, -1.42575528,
        -1.42542414, -1.42511808, -1.42488836, -1.42466955, -1.42446088,
        -1.42426167, -1.42407131, -1.42389157, -1.42374376, -1.42360284,
        -1.42348502, -1.42340271, -1.42335533, -1.4233135 , -1.42327694,
        -1.42324537, -1.42321854, -1.42319621, -1.42317816, -1.42316419,
        -1.4231541 , -1.42314772, -1.42314486, -1.42314537, -1.42314909,
        -1.42315588, -1.42316561, -1.42321615, -1.42327677, -1.42333941,
        -1.42340397, -1.42347037, -1.42354686, -1.42363182, -1.42371821,
        -1.42380596, -1.423895  , -1.42398527, -1.42407668, -1.42416919,
        -1.42426274, -1.42435727, -1.42445272, -1.42454905, -1.42464621,
        -1.42474415, -1.4248534 , -1.42497002, -1.42508716, -1.42520478,
        -1.42532286, -1.42544135, -1.42556023, -1.42572837, -1.42595237,
        -1.42617595, -1.42639911, -1.42662183, -1.42684409, -1.42706588,
        -1.42730915, -1.4275589 , -1.42780794, -1.42805626, -1.42830385,
        -1.4285507 , -1.42879681, -1.42904217, -1.42928677, -1.42953061,
        -1.42977368, -1.43001597, -1.43025749, -1.43052219, -1.43078855,
        -1.43109334, -1.43142155, -1.43174828, -1.43207352, -1.4323973 ,
        -1.43271961, -1.43304046, -1.43335987, -1.43367783, -1.43399436,
        -1.43430946, -1.43462315, -1.43493542, -1.43524629, -1.43555577]),
 'split7_test_score': array([-1.58358516, -1.5818867 , -1.58039288, -1.57905692, -1.57784835,
        -1.57674574, -1.57573317, -1.57479834, -1.57393144, -1.5731245 ,
        -1.57237089, -1.57172694, -1.57115959, -1.57072183, -1.5703258 ,
        -1.56995583, -1.56960987, -1.56928607, -1.56898278, -1.56869848,

In [54]:
#After using GridSearchCV we will again check the prediction value for test data
test_prediction=grid_search.predict(test)

test_prediction

array([15.73895914, 15.72575686, 10.14583579,  3.76550996, 15.19329959,
        7.1380825 , 15.54148745, 10.70904041, 15.31201582, 12.45171113,
       10.15459898, 15.27090971, 11.61186207, 13.67518179, 13.54172082,
       18.17913466, 10.38507914, 15.79532393, 13.95787214, 13.98323562,
       22.22604807, 17.35762391, 12.25427485, 14.9135529 ,  9.75268308,
       10.98082506, 13.12005166, 19.3455518 , 12.16198551, 16.96252679,
       15.04516946, 15.42533519, 12.46260739, 14.876391  , 13.81793061,
       14.34170011, 19.35731088, 11.20902974, 11.93636856, 16.70198537,
       14.22973087, 11.26243723, 14.75653925, 13.25511924, 15.81484351,
       17.14896917, 14.79532634, 17.04066178, 16.75599288, 10.5155381 ,
       13.71479227, 19.65936242,  9.64405355, 19.53747336, 15.49603523,
       14.72164602, 17.50234171, 14.56206729, 10.98808576, 14.73292472,
       13.2716135 , 16.93147994,  8.87975474, 14.66970908, 10.59202918,
       11.5075812 , 12.9916647 , 14.72910421, 11.75691274, 14.56011181,
       14.44180943, 17.63280045, 20.3935644 , 19.49287723, 13.33753978,
       16.78543263, 11.34516432, 10.06169164, 16.4287906 ,  6.55955657,
       16.20342438, 10.45006496,  9.59145421, 13.08239181, 14.04036502,
        9.64194438,  9.27991355, 14.14531897,  8.55553939, 11.78476188,
       12.37105476, 16.63534711, 13.53340582, 17.72027684, 13.99569371,
       10.42954663,  9.8884523 , 16.98304211, 16.71661424, 13.75916717,
       15.07309429, 13.54863866, 15.22900757, 14.68301608, 13.0947045 ,
       12.35863379,  8.89037124, 11.86174423, 10.93037696, 13.4877562 ,
       11.4339433 , 20.14041151,  7.63493876, 16.63639721, 15.48961268,
        6.6723342 , 13.41707946, 14.31463675, 14.71958875,  9.45444149,
       16.16704325, 14.33340923,  9.08752358, 12.95877356, 17.31835639,
       15.96931444,  8.51408281, 18.54284473,  3.06226647, 12.30668984,
       13.94899511, 12.9946261 ,  9.99667479, 14.17473396, 18.64690829,
       14.21316693, 15.40327417, 13.45361293, 12.83781281,  9.49712365,
       14.19706472, 14.46107743, 11.77713287, 11.66314495, 11.82144281,
       16.92369093, 12.05873557, 10.54997394,  7.81094112, 10.30157317,
       11.48496749, 13.86559452, 10.3863975 ,  7.42579468, 14.05959294,
       12.17473782, 11.28503801,  8.09201501, 14.29217285, 14.79023432,
       14.16024032,  7.17573467, 15.1741516 , 17.85060987, 15.08793815,
       16.09642513, 14.64351749, 10.15488994, 13.70304204, 16.75553303,
       14.59641217, 13.07297013,  6.71985664, 13.46620049, 10.35587453,
       10.47602982, 11.26879544,  8.64690559,  9.63220389, 11.72762852,
       12.99994032, 14.2192814 , 10.48118757, 13.54357929, 10.49676077,
       14.14383911,  7.88177687, 17.63282426, 13.71200529,  9.54632966,
        7.71283864, 11.41290368, 15.98966386, 15.60910202, 15.04637259,
       17.62209383,  8.9375359 , 18.80775265,  5.06509013, 13.86801803,
       14.50842253, 12.59645129, 17.60053831, 16.61242324,  4.82662446,
       15.6225271 , 15.35508803, 19.64849445, 16.42332518,  8.85809378,
       14.62655119, 11.06644243, 12.22933019, 14.48844624, 10.63410693,
       12.37339102, 13.39566155, 20.42005727, 13.86181279,  6.39582373,
        5.70900989,  9.64460005, 17.95243313, 11.56552762, 15.84719702,
       14.71295915, 11.57573772, 11.64329761, 12.69188913, 10.86389345,
       11.73373821, 14.90366654, 12.6910597 , 15.89804489,  7.69687816,
       11.1558501 , 13.40760098, 10.55601568,  4.99298167, 19.28130618,
       14.27777854, 19.59345195,  7.58589229, 20.37751753, 12.74037046,
       12.31583782, 19.49947879,  8.94016918,  7.83476312, 13.16782827,
       16.17708008, 15.14547607, 10.8318903 , 14.0455241 , 15.19604017,
       18.7606125 , 11.53253902,  8.02156616, 12.75323041, 17.91459699,
       16.61202814, 13.47396099, 18.22988781,  7.71674628, 19.75668752,
        8.71439201, 15.74722685, 10.84544448,  4.57212921, 14.94827458,
       13.53248662, 12.88415901,  6.92843057, 10.91790456,  9.99421007,
        6.58234779, 14.22280907, 13.95816478, 11.02184244, 14.70256659,
       17.38140543, 20.04586975, 16.45238414, 14.25105028, 15.84200672,
        8.24286165, 12.83283349, 13.54238328, 11.05748881, 11.86140892,
       14.40257055,  9.84119705, 14.60611546,  9.44157208,  7.24629214,
       15.71703211, 11.14307753, 14.56476899, 17.66175082, 13.22190929])

In [55]:
#Checking the coefficients using Ridge model
ridge_model=grid_search.best_estimator_

ridge_model.fit(x_train,y_train)

#We will check the coefficient for all the columns
list(zip(x_train.columns,ridge_model.coef_))

[('Amount.Requested', 0.00016714537449332434),
 ('Debt.To.Income.Ratio', -0.0012606544250307447),
 ('Monthly.Income', -2.969851180581744e-05),
 ('Open.CREDIT.Lines', -0.03680978176797281),
 ('Revolving.CREDIT.Balance', -3.0023321502439167e-06),
 ('Inquiries.in.the.Last.6.Months', 0.34237751501355024),
 ('Employment.Length', 0.01941860218751677),
 ('FICO', -0.08664485391886668),
 ('Loan.Length_36 months', -2.8299762705866205),
 ('Loan.Purpose_debt_consolidation', -0.3704218576828517),
 ('Loan.Purpose_credit_card', -0.46479454726336705),
 ('Loan.Purpose_other', 0.3778566516362286),
 ('Loan.Purpose_home_improvement', -0.22927008352909106),
 ('Loan.Purpose_major_purchase', -0.011304507141031279),
 ('Loan.Purpose_small_business', 0.08971483773413982),
 ('Loan.Purpose_car', -0.03045829578170502),
 ('Loan.Purpose_wedding', -0.32871620194253176),
 ('Loan.Purpose_medical', -0.09644409135075817),
 ('Loan.Purpose_moving', 0.45762384719037696),
 ('State_CA', -0.09391793411410619),
 ('State_NY', -0.04399767153928662),
 ('State_TX', 0.4272184777026188),
 ('State_FL', 0.02409902959694947),
 ('State_IL', -0.3475483678305886),
 ('State_GA', -0.08405365767738907),
 ('State_PA', -0.2811640437145749),
 ('State_NJ', -0.20973892538236388),
 ('State_VA', -0.00200898782292393),
 ('State_MA', -0.01750551880541762),
 ('State_OH', -0.1325455421491335),
 ('State_MD', 0.011827292660319563),
 ('State_NC', -0.24367324438879429),
 ('State_CO', 0.09233333151064643),
 ('State_WA', -0.08772672017548845),
 ('State_CT', 0.2486658062436641),
 ('State_AZ', 0.2753826811319546),
 ('State_MI', -0.00375345125350333),
 ('State_MN', -0.04297138105698721),
 ('State_AL', 0.013304019104652695),
 ('State_MO', -0.12088507532801802),
 ('State_NV', -0.012970229768661834),
 ('State_OR', 0.04475195215254461),
 ('State_SC', 0.008945589985711242),
 ('State_WI', 0.0653912034707682),
 ('State_KY', 0.06929959383323994),
 ('State_LA', 0.10860903512946178),
 ('State_KS', 0.1249259912267114),
 ('Home.Ownership_MORTGAGE', -0.30397471420802596),
 ('Home.Ownership_RENT', -0.09558753919624502)]

# Lasso Regression

In [56]:
lambdas=np.linspace(1,10,100)

params={'alpha':lambdas}

model=Lasso(fit_intercept=True)

In [58]:
grid_searchcv=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

grid_searchcv.fit(x_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'alpha': array([ 1.        ,  1.09090909,  1.18181818,  1.27272727,  1.36363636,
        1.45454545,  1.54545455,  1.636...
        7.81818182,  7.90909091,  8.        ,  8.09090909,  8.18181818,
        8.27272727,  8.36363636,  8.45454545,  8.54545455,  8.63636364,
        8.72727273,  8.81818182,  8.90909091,  9.        ,  9.09090909,
        9.18181818,  9.27272727,  9.36363636,  9.45454545,  9.54545455,
        9.63636364,  9.72727273,  9.81818182,  9.90909091, 10.        ])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [59]:
lasso_model=grid_searchcv.best_estimator_

lasso_model.fit(x_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [60]:
list(zip(train1.columns,lasso_model.coef_))

[('Amount.Requested', 0.00022362833779463015),
 ('Interest.Rate', -0.0),
 ('Debt.To.Income.Ratio', -5.053908873061875e-05),
 ('Monthly.Income', -0.0),
 ('Open.CREDIT.Lines', -8.708177177588517e-06),
 ('Revolving.CREDIT.Balance', 0.0),
 ('Inquiries.in.the.Last.6.Months', 0.0),
 ('Employment.Length', -0.08646765227679754),
 ('FICO', -0.0),
 ('Loan.Length_36 months', -0.0),
 ('Loan.Purpose_debt_consolidation', -0.0),
 ('Loan.Purpose_credit_card', 0.0),
 ('Loan.Purpose_other', 0.0),
 ('Loan.Purpose_home_improvement', 0.0),
 ('Loan.Purpose_major_purchase', 0.0),
 ('Loan.Purpose_small_business', 0.0),
 ('Loan.Purpose_car', -0.0),
 ('Loan.Purpose_wedding', -0.0),
 ('Loan.Purpose_medical', 0.0),
 ('Loan.Purpose_moving', -0.0),
 ('State_CA', 0.0),
 ('State_NY', 0.0),
 ('State_TX', -0.0),
 ('State_FL', -0.0),
 ('State_IL', -0.0),
 ('State_GA', -0.0),
 ('State_PA', -0.0),
 ('State_NJ', 0.0),
 ('State_VA', -0.0),
 ('State_MA', -0.0),
 ('State_OH', 0.0),
 ('State_MD', -0.0),
 ('State_NC', 0.0),
 ('State_CO', 0.0),
 ('State_WA', 0.0),
 ('State_CT', 0.0),
 ('State_AZ', -0.0),
 ('State_MI', 0.0),
 ('State_MN', 0.0),
 ('State_AL', 0.0),
 ('State_MO', -0.0),
 ('State_NV', -0.0),
 ('State_OR', -0.0),
 ('State_SC', 0.0),
 ('State_WI', 0.0),
 ('State_KY', 0.0),
 ('State_LA', 0.0),
 ('State_KS', -0.0),
 ('Home.Ownership_MORTGAGE', 0.0)]

- We have performed Hyperparameter tuning using GridSearchCV on Lasso and Ridge Regression.

- Fetching these predicted values to excel sheet we can check the coefficients and target values found.

- It is not necessary to perform both regression technique but it is a good option to check and fit model with various methods.